################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WiFiNetworks/v15/Server/sqlite3
/WiFiNetworks/bin/Debug/ManagedWifi.dll
/WiFiNetworks/bin/Debug/SimpleWifi.dll
/WiFiNetworks/bin/Debug/WiFiNetworks.pdb
/WiFiNetworks/bin/Debug/WiFiNetworks.exe.config
/WiFiNetworks/bin/Debug/WiFiNetworks.exe
/WiFiNetworks/obj/Debug/WiFiNetworks.WiFi.resources
/WiFiNetworks/obj/Debug/WiFiNetworks.Properties.Resources.resources
/WiFiNetworks/obj/Debug/WiFiNetworks.pdb
/WiFiNetworks/obj/Debug/WiFiNetworks.exe
/WiFiNetworks/obj/Debug/WiFiNetworks.csprojResolveAssemblyReference.cache
/WiFiNetworks/obj/Debug/WiFiNetworks.csproj.GenerateResource.Cache
/WiFiNetworks/obj/Debug/WiFiNetworks.csproj.FileListAbsolute.txt
/WiFiNetworks/obj/Debug/WiFiNetworks.csproj.CoreCompileInputs.cache
/WiFiNetworks/obj/Debug/WiFiNetworks.csproj.CopyComplete
/WiFiNetworks/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WiFiNetworks/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WiFiNetworks/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WiFiNetworks/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WiFiNetworks/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WiFiNetworks/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WiFiNetworks/WiFiNetworks.csproj.user
